<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanket</title>
    <link rel="stylesheet" href="static/page1.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <div class="Desktop1">
        <img class = "Screenshot" src="static\logo_sanket.png"/>
        <img class="Screenshot"/>
        <div class="Rectangle2"></div>
        <div class="Welcome">Welcome to the <br/>Sanket</div>
        <div class="An" >Experience seamless communication with our innovative platform that instantly translates Indian Sign Language, enabling smooth, interaction like never before.</div>
        <div class = "GlobalImpact">
            <a href="impact" class="Button">Global Impact</a>
        </div>
        <div class="OurVision">
            <a href="vision" class="Button">Our Vision</a>
        </div>
        <div class="TryNow">
            <a href="trynow" class="Button">Sample Videos</a>
        </div>
        <div class="Inference">
            <a href="inference" class="Button">Live Inference</a>
        </div>
      </div>
</body>
</html>
