/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.Rectangle2 {
    width: 100%;
    height: 12%;
    position: absolute;
    top: 0;
    left: 0;
    background: #025464;
}
.Inference {
    width: 13%;
    height: 6.2963%;
    left: 38%;
    top: 3.25%;
    position: absolute;
    color: black;
    font-size: 120.5%;  
    font-weight: 600;
    word-wrap: break-word;
}
.Button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #025464;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.Button:hover {
    background-color: white;
    color: black;
}

.GlobalImpact, .OurVision, .TryNow {
    width: 13%;
    height: 6%;
    position: absolute;
    top: 3.25%;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    word-wrap: break-word;
}

.GlobalImpact { left: 2.5%; }
.OurVision { left: 15%; width: 10.9%; }
.TryNow { left: 25%; width: 13%; }

.text-rectangle {
    width: 30%;
    height: 60px;
    position: relative; 
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 1.5rem;
    visibility: hidden; /* Set this to visible when needed */
}

.container {
    text-align: center;
    margin-top: 60px;
}

.section-container {
    display: block; /* Changed to block to ensure visibility */
}

/* Input Options */
#inputOptions {
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: center;
}

input[type="text"], select {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"] {
    margin-right: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #025464;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003f53;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#section1 {
    background-color: #f8f9fa;
    display: flex; /* Ensure the flex layout works */
    justify-content: space-around; /* Space between boxes */
    align-items: center; /* Center items vertically */
}

#video {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: contain;
}

#label, #certainty, #sentence {
    font-size: 18px; 
    margin: 3px 0; 
}

.box1{
    width: 45%; height: 70%; left: 8%; top: 20%; position: absolute; background: #F9FEFF; border-radius: 16px; border: 5px #ff8c00 solid; backdrop-filter: blur(4px);
}
.box2{
    width: 35%; height: 13%; left: 60%; top: 20%; position: absolute; background: #F9FEFF; border: 5px #ff8c00 solid; backdrop-filter: blur(4px); font-size: 60%;padding: 15px;
}
.box3{
    width: 35%; height: 45%; left: 60%; top: 42%; position: absolute; background: #F9FEFF; border: 1px #ff8c00 solid; backdrop-filter: blur(4px); font-size: 60%;padding: 15px;
}
